

<div class="banner " id="banner">
        <div class="banner-item banner-item-style-1" style="height: 800px;">

            <div class="container" >
                <div class="row" >
                    <div class="col-md-6 col-xs-12">
                        <div class="banner-bg-1">
                            <div class="banner-content">
                                <h1 class="banner-title">{{'Accueil.Banner.BannerTitle' | translate}}</h1>
                                <p class="banner-text">{{'Accueil.Banner.BannerText' | translate}}</p>
                                <div class="banner-button">
                                    <a class="btn btn-primary" href="#">{{'Accueil.Banner.BannerButton' | translate}}</a>
                                </div>
                                <div class="play-button">
                                    <a class="play-video" href="https://www.youtube.com/watch?v=l9o3PtsGQLA"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner-image hidden-sm hidden-xs">
                            <img class="img-responsive mocks-background" src="../../../../../assets/images/iPhone5-white-1.png" alt="Banner Mock">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
