<div class="banner" id="accompany" dir="auto">
    <div class="banner-item banner-item-style-4 gray-bg">
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-left">
                        <h1 class="banner-title">
                            <span class="theme-color">{{'Entreprise.Accompany.BannerTitle1' | translate}}</span>
                            <span class="black-color"> {{'Entreprise.Accompany.BannerTitle2' | translate}}</span>
                        </h1>
                        <p class="banner-text">{{'Entreprise.Accompany.BannerText' | translate}}</p>
                    </div>
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div class="banner-img">
                            <img src="../../../../../assets/images/banner/slack.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>