<div class="testimonial section section-padding gray-bg" id="avis" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="section-header text-center">
                    <h3 class="section-title">{{'Accueil.Testimonial.SectionTitle' | translate}}</h3>
                    <p class="section-text">{{'Accueil.Testimonial.SectionText' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="testimonials-wrap">
                <div class="testimonial-carousel-1 owl-carousel" id="testimonial-carousel">
                    <div class="testimonial-item">
                        <div class="reviewer-pic">
                            <div class="reviewer-background">
                                <img class="" src="../../../../../assets/unicoorp/testimonial/testimonial-1.png" alt="UniCoorp">
                            </div>
                        </div>
                        <h4 class="reviewer-name">DRH NESLINE</h4>
                        <blockquote dir="auto">❝ {{'Accueil.Testimonial.Testimonial1' | translate}} ❞</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>