<div class="subscribe-area primary-gradient-bg section section-padding" id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="subscribe-body">
          <h2 class="subscribe-heading"><a class="btn btn-primary" href="#catalog">{{'Entreprise.Discover.SectionTitle' | translate}}</a></h2>
          <p class="section-text" style="color: white;">{{'Entreprise.Discover.SectionText' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>