<div class="subscribe-area primary-gradient-bg section section-padding" id="subscribe" dir="auto">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
              <div class="subscribe-body">
                  <h2 class="subscribe-heading">
                  <a class="btn btn-primary" href="contact"><span class="glyphicon glyphicon-earphone"> </span>&nbsp;&nbsp;{{'Accueil.Subscribe.SectionTitle' | translate}}</a></h2>
                  <p class="section-text" style="color: white;">{{'Accueil.Subscribe.SectionText' | translate}}</p>
              </div>
          </div>
      </div>
  </div>
</div>