<div class="features section section-padding bottom-0" id="e-learning" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="section-header text-center">
                    <h3 class="section-title">{{'Entreprise.Features.SectionTitle' | translate}}</h3>
                </div>
            </div>
        </div>
        <div class="sub-section">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 xs-bottom-30 pad">
                    <img class="img-responsive" alt="UniCoorp" src="../../../../../assets/unicoorp/features/password.svg" style="max-width: 28%;">
                    <h4 class="subsection-title" style="color: #02b3e4;">{{'Entreprise.Features.FeatureTitle1' | translate}}</h4>
                    <p class="subsection-text">{{'Entreprise.Features.FeatureText1' | translate}}</p>
                </div>
                <div class="col-sm-6 col-sm-pull-6 col-xs-12 pad">
                    <img class="img-responsive feat" src="../../../../../assets/unicoorp/features/feature-1.png" alt="UniCoorp">
                </div>
            </div>
        </div>

        <div class="sub-section">
            <div class="row">
                <div class="col-sm-6 col-xs-12 xs-bottom-30 pad">
                    <img class="img-responsive" alt="UniCoorp" src="../../../../../assets/unicoorp/features/support.svg" style="max-width: 28%;">
                    <h4 class="subsection-title" style="color: #ff5483;">{{'Entreprise.Features.FeatureTitle2' | translate}}</h4>
                    <p class="subsection-text">{{'Entreprise.Features.FeatureText2' | translate}}</p>
                </div>
                <div class="col-sm-6 col-xs-12 pad">
                    <img class="img-responsive features-side-img  feat" src="../../../../../assets/unicoorp/features/feature-2.jpg" alt="UniCoorp">
                </div>
            </div>
        </div>

        <div class="sub-section">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6 col-xs-12 xs-bottom-30 pad">
                    <img class="img-responsive" alt="UniCoorp" src="../../../../../assets/unicoorp/features/motivant.svg" style="max-width: 28%;">
                    <h4 class="subsection-title" style="color: #a951ed;">{{'Entreprise.Features.FeatureTitle3' | translate}}</h4>
                    <p class="subsection-text">{{'Entreprise.Features.FeatureText3' | translate}}</p>
                </div>
                <div class="col-sm-6 col-sm-pull-6 col-xs-12 pad">
                    <img class="img-responsive  feat" src="../../../../../assets/unicoorp/features/feature-3.jpg" alt="UniCoorp">
                </div>
            </div>
        </div>

        <div class="sub-section">
            <div class="row">
                <div class="col-sm-6 col-xs-12 xs-bottom-30 pad">
                    <img class="img-responsive" alt="UniCoorp" src="../../../../../assets/unicoorp/features/investment.svg" style="max-width: 28%;">
                    <h4 class="subsection-title" style="color: #02ccba;">{{'Entreprise.Features.FeatureTitle4' | translate}}</h4>
                    <p class="subsection-text">{{'Entreprise.Features.FeatureText4' | translate}}</p>
                </div>
                <div class="col-sm-6 col-xs-12 pad">
                    <img class="img-responsive features-side-img  feat" src="../../../../../assets/unicoorp/features/feature-4.jpg" alt="UniCoorp">
                </div>
            </div>
        </div>
    </div>
</div>