<div class="pricing-page gray-bg section section-padding" id="catalog" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="section-header text-center">
                    <h3 class="section-title ">{{'Accueil.Catalog.SectionTitle' | translate}}</h3>
                    <p class="section-text">{{'Accueil.Catalog.SectionText' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing-packages">
                <a href="http://cours.unicoorp.com/">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="package">
                            <div class="package-header">
                                <img class="img-responsive" src="../../../../../assets/unicoorp/catalog/catalog-1.jpg" alt="Unicoorp">
                            </div>
                            <div class="package-body" style="height: 100px;">
                                <h4 class="pack-name">{{'Accueil.Catalog.PackName1' | translate}}</h4>
                                <ul class="pack-feature-list">
                                    <li></li>
                                </ul>
                            </div>
                            <div class="pack-footer">
                                <img src="../../../../../assets/unicoorp/logo-unicoorp-2.png" alt="Unicoorp" style="width: 140px">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="http://cours.unicoorp.com/">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="package">
                            <div class="package-header">
                                <img class="img-responsive" src="../../../../../assets/unicoorp/catalog/catalog-2.jpg" alt="Unicoorp">
                            </div>
                            <div class="package-body" style="height: 100px;">
                                <h4 class="pack-name">{{'Accueil.Catalog.PackName2' | translate}}</h4>
                                <ul class="pack-feature-list">
                                    <li></li>
                                </ul>
                            </div>
                            <div class="pack-footer">
                                <img src="../../../../../assets/unicoorp/logo-unicoorp-2.png" alt="Unicoorp" style="width: 140px">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="http://cours.unicoorp.com/">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="package">
                            <div class="package-header">
                                <img class="img-responsive" src="../../../../../assets/unicoorp/catalog/catalog-3.jpg" alt="Unicoorp">
                            </div>
                            <div class="package-body" style="height: 100px;">
                                <h4 class="pack-name">{{'Accueil.Catalog.PackName3' | translate}}</h4>
                                <ul class="pack-feature-list">
                                    <li></li>
                                </ul>
                            </div>
                            <div class="pack-footer">
                                <img src="../../../../../assets/unicoorp/logo-unicoorp-2.png" alt="Unicoorp" style="width: 140px">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="http://cours.unicoorp.com/">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="package">
                            <div class="package-header">
                                <img class="img-responsive" src="../../../../../assets/unicoorp/catalog/catalog-4.jpg" alt="Unicoorp">
                            </div>
                            <div class="package-body" style="height: 100px;">
                                <h4 class="pack-name">{{'Accueil.Catalog.PackName4' | translate}}</h4>
                                <ul class="pack-feature-list">
                                    <li></li>
                                </ul>
                            </div>
                            <div class="pack-footer">
                                <img src="../../../../../assets/unicoorp/logo-unicoorp-2.png" alt="Unicoorp" style="width: 140px">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>