.package {
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
}

.package-header {
    padding: 0px;
}

.img-responsive {
    opacity: 0.5;
}

.package:hover .img-responsive {
    opacity: 1;
}

.pack-name {
    text-align: center;
    padding: 16px;
    font-weight: 300;
    color: #616c75;
}

h4 {
    font-size: 2.4rem;
}