<div class="faq-area section section-padding bottom-0" id="faq" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="section-header text-center ">
                    <h3 class="section-title">{{'Faqs.SectionTitle' | translate}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-offset-1 col-xs-12">
                <div class="faq-accordion">
                    <div class="panel-group" id="faqAccordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">{{'Faqs.PanelTitle1' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqHeadingOne">
                                <div class="panel-body">{{'Faqs.PanelBody1' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingTwo">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseOne">{{'Faqs.PanelTitle2' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseTwo" class="panel-collapse collapse" role="tabpane1" aria-labelledby="faqHeadingTwo">
                                <div class="panel-body">{{'Faqs.PanelBody2' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingThree">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">{{'Faqs.PanelTitle3' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingThree">
                                <div class="panel-body">{{'Faqs.PanelBody3' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFour">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">{{'Faqs.PanelTitle4' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFour">
                                <div class="panel-body">{{'Faqs.PanelBody4' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFive">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">{{'Faqs.PanelTitle5' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFive">
                                <div class="panel-body">{{'Faqs.PanelBody5' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingOne-2">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseOne-2" aria-expanded="false" aria-controls="faqCollapseOne-2">{{'Faqs.PanelTitle6' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseOne-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingOne-2">
                                <div class="panel-body">{{'Faqs.PanelBody6' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingTwo-2">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseTwo-2" aria-expanded="false" aria-controls="faqCollapseTwo-2">{{'Faqs.PanelTitle7' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseTwo-2" class="panel-collapse collapse" role="tabpane1" aria-labelledby="faqHeadingTwo-2">
                                <div class="panel-body">{{'Faqs.PanelBody7' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingThree-2">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseThree-2" aria-expanded="false" aria-controls="faqCollapseThree-2">{{'Faqs.PanelTitle8' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingThree-2">
                                <div class="panel-body">{{'Faqs.PanelBody8' | translate}}.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFour-2">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseFour-2" aria-expanded="false" aria-controls="faqCollapseFour-2">{{'Faqs.PanelTitle9' | translate}}</a>
                                </h4>
                            </div>
                            <div id="faqCollapseFour-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFou-2r">
                                <div class="panel-body">{{'Faqs.PanelBody9' | translate}}.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>