<div class="how-it-works section section-padding" id="formation" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="section-header text-center">
                    <h3 class="section-title">{{'Accueil.Formation.SectionTitle' | translate}}</h3>
                    <p class="section-text">{{'Accueil.Formation.SectionText' | translate}}:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="how-work">
                <div class="col-md-3 col-sm-6">
                    <div class="how-work-item">
                        <img class="formation-img" src="../../../../../assets/unicoorp/formation/play-button.svg" alt="UniCoorp">
                        <h4 class="how-work-title" style="color: #02b3e4!important">{{'Accueil.Formation.FormationTitle1' | translate}}</h4>
                        <p>{{'Accueil.Formation.FormationText1' | translate}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="how-work-item">
                        <img class="formation-img" src="../../../../../assets/unicoorp/formation/puzzle.svg" alt="UniCoorp">
                        <h4 class="how-work-title" style="color: #ff5483!important">{{'Accueil.Formation.FormationTitle2' | translate}}</h4>
                        <p>{{'Accueil.Formation.FormationText2' | translate}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="how-work-item">
                        <img class="formation-img" src="../../../../../assets/unicoorp/formation/certificate.svg" alt="UniCoorp">
                        <h4 class="how-work-title" style="color: #02ccba!important">{{'Accueil.Formation.FormationTitle3' | translate}}</h4>
                        <p>{{'Accueil.Formation.FormationText3' | translate}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="how-work-item">
                        <img class="formation-img" src="../../../../../assets/unicoorp/formation/brain.svg" alt="UniCoorp">
                        <h4 class="how-work-title" style="color: #a951ed!important">{{'Accueil.Formation.FormationTitle4' | translate}}</h4>
                        <p>{{'Accueil.Formation.FormationText4' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>